<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <style>
        .anchor {
            display: flex;
            flex-direction: column;
           }
    </style>
</head>
<body>
    <header>
        <div class="anchor">
            <a href="">Nombre</a>
            <a href="">Abréviation</a>
            <a href="">Adjectif</a>
            <a href="">Adverbe</a>
            <a href="">Interjection</a>
            <a href="">Nom</a>
            <a href="">Nom propre</a>
            <a href="">Verbe</a>
        </div>
    </header>
    <h1>Library</h1>
</body>
</html>